{% extends "vtuapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

{% if request.user.is_authenticated %}
  

<form action="." method="POST" enctype="multipart/form-data"> 
    {% csrf_token %}
    <div class="container form-group bg-white border rounded">
        <div class="container mt-4">
          <div class="text-center text-white">
            <p class="lead fw-normal text-black pt-5 display-7">
              Edit Profile
            </p>
    {% for field in form %}
            <div class="row m-3 p-3">{{field|as_crispy_field}}</div>

    {% endfor %}

<input type="submit" value="Submit">

          </div></div></div>  
</form>

{% endif %}

{% endblock body %}