{% extends "vtuapp/base.html" %} {% load crispy_forms_tags %} 
{% block title %} Reset Password {% endblock title %}
{% block body %}

<div class="wrapper wrapper-login">


  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <br />
        
        <form method="POST" action="{% url 'password_reset' %}">
          {% csrf_token %}
          <div class="container form-group bg-white border rounded">
            <div class="container">
              <div class="text-center text-white">
                  
                  <p class="lead fw-normal text-black pt-5 display-7">
                      Forgotten Your Password?
                  </p>
                <img src="/static/styling/img/logo-color.png" height="50" class="mb-4" />

                <p class="lead fw-normal text-black pt-5 display-9">
                    Enter Registered Email Address to obtain a new password
                </p>
              </div>
            </div>
            {% for field in form %}
            <div class="row m-3 p-3">{{field|as_crispy_field}}</div>

            {% endfor %}

            <div class="form-group form-action-d-flex m-3 mm-3 p-3">
              <button
                type="submit"
                class="btn btn-secondary m-3 p-3 mt-sm-0 fw-bold"
                onClick="this.form.submit(); this.disabled=true; this.innerText ='Authenticating.....'; "> Send Email
              </button>
            </div>

            <div class="login-account m-3 p-3">
              <span class="msg">Already a member?</span>
              <a href="{% url 'login' %}" id="show-signup" class="link">Register Here </a> &nbsp;&nbsp;| &nbsp;&nbsp;
              <span class="msg">Register?</span>
              <a href="{% url 'register' %}" id="show-signup" class="link">Here </a>
           
          </div>
        </form>
      
      </div>
    </div>
  </div>
</div>
{% endblock body %}