{% extends "vtuapp/base.html" %} {% load crispy_forms_tags %}
{% block body %}

<div class="wrapper wrapper-login">


  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <br />
        {% if validlink %}
        <form method="POST" action=".">
          {% csrf_token %}
          <div class="container form-group bg-white border rounded">
            <div class="container">
              <div class="text-center text-white">
                <p class="lead fw-normal text-black pt-5 display-7">
                  Reset Your Password
                </p>
                
                <img src="/static/styling/img/logo-color.png" height="50" class="mb-4" />

                <p class="lead fw-normal text-black pt-5 display-7">
                  Please enter your new password twice
                </p>
              </div>
            </div>
            {% for field in form %}
            <div class="row m-3 p-3">{{field|as_crispy_field}}</div>

            {% endfor %}

            <div class="form-group form-action-d-flex m-3 mm-3 p-3">
              <button
                type="submit"
                class="btn btn-secondary m-3 p-3 mt-sm-0 fw-bold"
                onClick="this.form.submit(); this.disabled=true; this.innerText ='Authenticating.....'; ">
                Change My Password
              </button>
            </div>

            
        </form>

          {% else %}

        <p> The password reset link was invalid, possibly because it has already been used. Please request a new password reset </p>

      
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock body %}


<h1>  </h1>
  
    <!-- <p> Please enter your new password twice </p>
    <form action="." method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <p> <input type="submit" value="Change my password"></p>

    </form> -->



