{% extends "vtuapp/base.html" %}
{% load static %}


{% block body %}
{% if user.is_authenticated %}
<script>

  Swal.fire({ 
      icon:'success',
      title: "Whoola!!!",
      text: "Password Changed Successsfully",
      allowEscapeKey: false,
      allowOutsideClick: false,
      confirmButtonText: 'Redirect Me to Dashboard',
      }).then(okay => {
        if (okay) {
        window.location.href = "{% url 'dashboard' %}";
   }
 });
</script>

{% else %}

<script>
  Swal.fire({
    icon: "error",
    title: "Oops...",
    text: "Something went wrong!",
    footer: '<a href="{% url 'login' %}">Why do I have this issue?</a>'
  });
  
</script>
{% endif %}
{% endblock body %}