{% extends "vtuapp/base.html" %} {% load crispy_forms_tags %} {% block title%}Password Reset Done {% endblock title %} {% block body %}

<div
  class="wrapper wrapper-login d-flex align-items-center justify-content-center h-10"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <br />
        <div class="container form-group bg-white border rounded">
          <div class="container">
            <div class="text-center text-white">
              <p class="lead fw-normal text-black pt-5 display-6">
                Your Password has been set  <i class="fa-solid fa-badge-check"></i>
              </p>

              <img
                src="/static/styling/img/logo-color.png"
                height="50"
                class="mb-4"
              />
            </div>
          </div>
          
          <div class="login-account m-3 p-3">
            <div class="alert alert-info">Your password has been set. You can <a href="{% url 'login' %}"> Login Here</div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}